<div class="topics">
    <div ng-repeat="topic in topics" class="row panel">
        <div class="row">
            <div class="large-12 column">
                <h4><a href="#">{{topic.title}}</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="large-12 column">
                <span>{{topic.description}}</span>
            </div>
        </div>
    </div>
</div>