doctype html
html(ng-app='mainApp')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/foundation.min.css')
        script(src='/js/vendor/modernizr.js')

        script(src='/js/ng/angular.min.js')
        script(src='/js/ng/angular-route.js')
        script(src='/js/ng/mainApp.js')
        script(src='/js/ng/controllers/main.js')
        title Test Template
        style.
            .icon-bar {
                background: #0cb3ca; /* Old browsers */

            }
            .icon-bar>*:hover {
                background: #90C772;
            }
    body
        .icon-bar.four-up
            a.item
                img(src='/img/svg/home7.svg')
                label Home
            a.item
                img(src='/img/svg/paper13.svg')
                label Bookmark
            a.item
                img(src='/img/svg/settings9.svg')
                label Settings
            a.item
                img(src='/img/svg/mail7.svg')
                label Messages
        .container(ng-view,style='width:100%;')

        script(src='/js/vendor/jquery.js')
        script(src='/js/foundation.min.js')
        script.
            $(document).foundation();